{% extends "base.html" %}

{% block content %}

    <div class="about">
    <div class="about_left">
        <div class="txt">
            We here a lot about accidents these days. And lack of awareness of the sign boards also contribute to this numbers. It was shocking but it is a fact that many of us don't worry about them.
            So I though of making this type of application which warns you when you are on the road and prompts you to what to do next.
             <br/><br />
            <br/><br />
        Not only this, It also educates drivers.
        </div>
    </div>
    <div class="about_right scale-up-center">
        <div class="content2 flex">
            <img class="relax slide-fwd-center" src="../static/media/about.svg">
        </div>
    
        </div>
</div>
    
{% endblock content %}