{% extends "base.html" %}

{% block content %}

    <div class="video">
        <img src={{url_for('video_feed1')}} onload="imageloaded();"/>
        <h1 id='feed' class="centered">Loading Live Feed</h1>
        <div id='fancy-spinner' class="fancy-spinner precentered" >
            <div id='ring' class="ring"></div>
            <div id='ring' class="ring"></div>
            <div id='dot'  class="dot"></div>
        </div>
        <div>
            <h1 class="normal" style="color:white; font-size: 15px;">Location - {{ addr }}</h1></br>
            <h1 class="normal" style="color:white; font-size: 15px;">Weather Report - {{ weather }} </h1>
        </div>
    </div>




{% endblock content %}